#  CSharp formatting rules:
[*.cs]
csharp_new_line_before_open_brace = methods, types
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_style_namespace_declarations = block_scoped:silent
